#name-container {
    padding-top:2ch;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
#name {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    padding-top: 0.5;
    background-color: blueviolet;
    text-align: center;
    border-radius: 10%;
}
h2 {
    font-weight:bold;
    font-size: 3em;
}
body {
    height: 100vh;
    background-color: rgb(76, 130, 224);
    font-family: "Ysabeau Infant", sans-serif;
    margin-left: auto;
}
section, #name-container {
    margin-left: 1em;
}
#bg-img {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Move the image below other content */
    object-fit: cover; /* Cover the entire space with the image */
    opacity: 0.5; /* Adjust image opacity as needed */
}
#profile-picture {
    border-radius: 50%;
    margin: 1em;
    width: 30vw;
    border-color: rgb(27, 126, 226);
    border-width:3dvi;
    border-style:groove;
}
#navigation {
    position:fixed;
    top:0;
    opacity: 100%;
    width: 100%;
    background-color: rgb(130, 130, 237);
}
#navigation ul {
    display: flex;
    gap: 4em;
    list-style: none;
    padding-bottom:0;
}
#about, #experience, #skills, #projects, #connect {
    scroll-margin-top: 3em;
}  
#experience ul {
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    color: rgb(49, 14, 109);
    list-style:none;
}
#experience ul li {
    width: 10em;
    height: 5em;
    border-radius: 10%;
    margin: 1em;
    padding: 1em;
    background-color: yellow;
}
#connect ul {
    list-style: none;
}
#git-image {
    height: 30px;
}

        